.greeting{
    background-color: rgb(155, 212, 186);
    text-align: center;
    overflow: hidden;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin:0px;
}
.isologo{
    height: 130px;
    width: auto;
}
